
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body style="padding-top: 70px;">

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">CallBackCatcher</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'port' %}">Ports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'callback' %}">Callbacks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'token' %}">Tokens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'secret' %}">Secrets</a>
          </li>
        </ul>
      </div>
    </nav>
	
	<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
		 <h1>{% block header %}{% endblock %}</h1>
	     {% block main_block %}{% endblock %}
	</div>
	<div class="col-1"></div>
	</div>

    <!-- Bootstrap core JavaScript
    ==================================================-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>
