{% extends 'base.html' %}

{% block title %}Callbacks{% endblock %}
{% block header %}Callbacks{% endblock %}

{% block main_block %}
<div class="row">
<div class="col-7">
	<table id="callbacklist" class="table table-sm table-hover">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Dst Port</th>
	      <th scope="col">Source</th>
	      <th scope="col">Src Port</th>
	      <th scope="col">Protocol</th>
	      <th scope="col">Timestamp</th>
	      <th scope="col">Data size</th>
	    </tr>
	  </thead>
	  <tbody>
	  {% for c in callbacks %}
	    <tr id="{{ c.id }}">
	      <th scope="row">{{ c.id }}</th>
	      <td>{{ c.serverport }}</td>
	      <td>{{ c.sourceip }}</td>
	      <td>{{ c.sourceport }}</td>
	      <td>{{ c.protocol }}</td>
	      <td>{{ c.timestamp|date:'Y-m-d H:i' }}</td>
	      <td>{{ c.datasize }}</td>
	      <input name="data" type="hidden" value="{{ c.data }}">
	      <input name="fingerprint" type="hidden" value="{{ c.fingerprint.name }}">
	    </tr>
	   {% endfor %}
	  </tbody>
	</table>
	{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
	{% endif %}
</div>
<div class="col-5">
	<div class="pull-right"><h2>Data</h2></div>
	<div class="card">
	  <div class="card-block">
	    <h4 class="card-title"><span id="fingerprint"></span></h4>
	    <h6 class="card-subtitle mb-2 text-muted ">Raw</h6>
	    <pre id="raw" class="form-control" style="background: #e6e6e6; font-family: 'courier new', courier, monospace; white-space: pre-line; word-break: break-word; overflow-y: scroll; min-height: 600px; max-height: 600px;">%</pre>
		<!--<h6 class="card-subtitle mb-2 text-muted ">Hex</h6>
	    <pre id="hex" class="form-control" style="background: #e6e6e6; font-family: 'courier new', courier, monospace; white-space: pre-line; word-break: break-word; overflow-y: scroll; min-height: 300px; max-height: 600px;">%</pre>-->	  
	  </div>
	</div>
</div>
</div>

<script>
$(document).ready(function() {
    $('#callbacklist tr').click(function() {
        finger = $(this).find('input[name=fingerprint]').val();
        $('#fingerprint').html(finger);
        
        data = $(this).find('input[name=data]').val();
        $('#raw').html(atob(data));
    });
});
</script>
{% endblock %}