{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}

{% block main_block %}
<div class="row">
<div class="col-3" ></div>
<div class="col-6" >
	<div class="card">
		<div class="card-header">
	    	Health
	  	</div>
	  	<div class="card-body" style="padding: 20px">
	  		<h2>Status</h2>
	    	This is some text within a card body.
	  	</div>
	</div>
</div>
<div class="col-3" ></div>
</div>
<p>&nbsp;</p>
<div class="row">
<div class="col-3" ></div>
<div class="col-6" >
	<div class="card">
		<div class="card-header">
	    	Information
	  	</div>
	  	<div class="card-body" style="padding: 20px">
	    	This is some text within a card body.
	  	</div>
	</div>
</div>
<div class="col-3" ></div>
</div>
<p>&nbsp;</p>
<div class="row">
<div class="col-3" ></div>
<div class="col-6" >
	<div class="card">
		<div class="card-header">
	    	Resources
	  	</div>
	  	<div class="card-body" style="padding: 20px">
	    	<div class="col-3" ></div>
			<div class="col-3" ></div>
			<div class="col-3" ></div>
	  	</div>
	</div>
</div>
<div class="col-3" ></div>
</div>
{% endblock %}