{% extends 'base.html' %}

{% block title %}Ports{% endblock %}
{% block header %}Running Ports{% endblock %}

{% block main_block %}
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Protocol</th>
      <th scope="col">SSL</th>
      <th scope="col">Created</th>
      <th scope="col">Handler</th>
      <th scope="col">PID</th>
    </tr>
  </thead>
  <tbody>
  {% for p in ports %}
    <tr>
      <th scope="row">{{ p.number }}</th>
      <td>{{ p.protocol }}</td>
      <td>{% if p.ssl == 1 %}Enabled{% else %}Disabled{% endif %}</td>
      <td>{{ p.created_time }}</td>
      <td>{{ p.handler }}</td>
      <td>{{ p.pid }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}