{% extends 'base.html' %}

{% block title %}Secrets{% endblock %}
{% block header %}Secrets{% endblock %}

{% block main_block %}
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Callback</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
  {% for s in secrets %}
    <tr>
      <th scope="row">{{ s.id }}</th>
      <td>{{ s.callback.id }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.value }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}