body {
  padding-top: 4rem;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.catcher-main {
  	text-align: center;
}
.catcher-page-title {
	padding-bottom: 0.3em;
}
.catcher-data-dump-pre {
	padding: 7px; 
	border-radius: 5px; 
	background-color: #D5D8DC; 
	overflow-wrap: normal; 
	overflow-y: scroll; 
	white-space: pre-wrap; 
	overflow-x: hidden; 
	width: 100%; 
	min-height: 100px;
	max-height: 400px;
}
.catcher-settings-pre {
	padding: 7px; 
	border-radius: 5px; 
	background-color: #D5D8DC; 
	overflow-wrap: normal; 
	overflow-y: scroll; 
	white-space: pre-wrap; 
	overflow-x: hidden; 
	width: 100%; 
	min-height: 100px;
	max-height: 400px;
	font-size: 90%;
	resize: none;
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.catcher-spacer {
	padding-top: 20px;
}
.catcher-search-box {
	padding: 1rem 1rem;
	text-align: left;
	border-radius: .3rem;
	background-color: #eceeef;
}
.catcher-search-row {
	padding-bottom: 0.5em;
}
.catcher-search-toggle {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
