<h1 class="display-3 catcher-page-title">Ports</h1>
<p>{{ message }}</p>

<div class="row">
	<table class="table table-bordered table-condensed table-striped" show-filter="true">
		<thead>
	      	<tr>
		      	<th>Port</th>
				<th>Protocol</th>
				<th>SSL</th>
				<th>Handler</th>
				<th>Start/Stop</th>
	      	</tr>
	    </thead>
		<tbody ng-repeat="p in ports | orderBy : 'number'" >
	    	<tr>
	       		<td>{{ p.number }}</td>
	       		<td>{{ p.protocol | uppercase }}</td>
	       		<td><input type="checkbox" ng-checked="p.ssl" style="transform: scale(1.5);" disabled></td>
	       		<td>{{ p.handler || '-' }}</td>
	       		<td><button ng-click="stopPort(p.id)" type="button" class="btn btn-block btn-danger">&#10006;</button></td>
	    	</tr>
	    </tbody>
	    	<form ng-click="startPort()">
	    	<tr>
	    		
	       		<td><input class="form-control" type="text" name="number" ng-model="number"></td>
	       		<td>
	       			<select class="form-control" name="protocol" ng-model="protocol">
					  	<option selected="selected">tcp</option>
					  	<option>udp</option>
					</select>
				</td>
	       		<td>
					<select class="form-control" name="protocol" ng-model="ssl">
					  	<option value=1 >true</option>
					  	<option value=0 selected="selected">false</option>
					</select>
				</td>
	       		<td>
		       		<select class="form-control" name="handler" ng-model="handler">
		       			<option></option>
		       			<option value="{{ h.filename }}" ng-repeat="h in handlers">{{ h.name }}</option>
		       		</select>
	       		</td>
	       		<td><input type="submit" ng-click="startPort()" class="btn btn-block btn-success" value="&#10003;"></td>
	    		
	    	</tr>
	    	</form>
	</table>
</div>
