<h1 class="display-3 catcher-page-title">Search</h1>
<p>{{ message }}</p>

<div class="row">
<form class="form-inline">
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Search">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <select class="form-control custom-select">
	  <option selected>Callbacks</option>
	  <option value="1">Secrets</option>
	</select>
  </div>

  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Regular Expression
    </label>
  </div>
    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Negative
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="row catcher-spacer">
	<table class="table table-bordered table-condensed table-striped" show-filter="true">
		<thead>
	      	<tr>
		      	<th>Type</th>
				<th>Name</th>
				<th>Created</th>
				<th>Hits</th>
	      	</tr>
	    </thead>
		<tbody ng-repeat="s in search" >
	    	<tr>
	       		<td>{{ s.name }}</td>
	       		<td>{{ h.description }}</td>
	       		<!-- <td>{{ h.settings | '-' }}</td>  -->
	       		<td>{{ h.filename }}</td>
	       		<!-- <td><button ng-click="editHandler( h.id )" type="button" class="btn btn-block btn-danger">&#9998;</button></td>  -->
	    	</tr>
	  	</tbody>
	</table>
</div>